
/** Api Status **/

.api-status {
  font-weight: bold;
}

/** Multiselect **/

select[name="ohdear_settings[user_roles_access][]"] {
  min-height: 150px;
}

.api-status.connected {
  color: green;
}

.api-status.disconnected {
  color: red;
}

/** Monitoring Dashboard Section **/

.dashboard__section {
  margin: 20px 0;
  padding: 15px 30px;
  background: white;
  border-radius: 6px;
  border: 1px solid #ddd;
}

/** Charts **/

#uptime_chart,
#perf_chart {
  margin: 35px 10px;
}